PORT = 4000
NODE_ENV=DEVELOPMENT
FRONTEND_URL="http://localhost:5173"

DB_LOCAL_URI=your local mongodb url
DB_URI=your online mongodb url

JWT_SECRET=your JWT secret

JWT_EXPIRES_TIME=your JWT expiration time
COOKIE_EXPIRES_TIME=your cookies expiration time

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=your SMTP port
SMTP_EMAIL=your SMTP email (Dashboard)
SMTP_PASSWORD=your SMTP password (Dashboard)
SMTP_FROM_EMAIL=your email which you want to send email
SMTP_FROM_NAME=your name

CLOUDINARY_CLOUD_NAME=your cloudinary cloud name
CLOUDINARY_API_KEY=your cloudinary api key
CLOUDINARY_API_SECRET=your cloudinary api secret

STRIPE_API_KEY=your stripe api key
STRIPE_SECRET_KEY=your stripe secret key